In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import acquire

In [3]:
train, val, test = acquire.wrangle_zillow()

In [4]:
train

         sqft  bedrooms  bathrooms  tax_value
3030   1225.0       3.0        1.0  1014822.0
47117  2462.0       4.0        3.0   524894.0
7981    982.0       3.0        2.0   413692.0
2392   1748.0       2.0        2.0   272033.0
2925   1851.0       4.0        3.0   554009.0
...       ...       ...        ...        ...
34526  1810.0       3.0        2.0   338167.0
5859   1080.0       3.0        1.0   340520.0
3928   2096.0       4.0        2.5   797361.0
44866   913.0       2.0        1.0   283501.0
31438  3686.0       4.0        4.0   660717.0

[27237 rows x 4 columns]